services:
  web:
    container_name: web
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    restart: always
    ports:
      - "5173:80"
    networks:
      - app_network
  api:
    container_name: api
    build:
      context: ./apps/api
      dockerfile: Dockerfile
      args:
        WWWGROUP: 1000
        WWWUSER: 1000
    environment:
      WWWGROUP: 1000
    ports:
      - "8080:80"
    volumes:
      - ./apps/api:/var/www/html
    networks:
      - sail
  mysql:
    image: 'mysql/mysql-server:8.0'
    ports:
      - "3306:3306"
    environment:
        MYSQL_ROOT_PASSWORD: 'password'
        MYSQL_DATABASE: 'api'
        MYSQL_USER: 'sail'
        MYSQL_PASSWORD: 'password'
    volumes:
      - sail-mysql:/var/lib/mysql
      - ./apps/api/docker-init:/docker-entrypoint-initdb.d
    networks:
      - sail

volumes:
  sail-mysql:
    driver: local
networks:
  app_network:
    driver: bridge
  sail:
    driver: bridge