services:
  web:
    container_name: web
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    restart: always
    ports:
      - "5173:80"
    networks:
      - app_network
  api:
    container_name: api
    build:
      context: ./apps/api
      dockerfile: Dockerfile
      args:
        WWWGROUP: 1000
        WWWUSER: 1000
    environment:
      WWWGROUP: 1000
    ports:
      - "8080:80"
    volumes:
      - ./apps/api:/var/www/html
  mysql:
    image: 'mysql/mysql-server:8.0'
    ports:
      - "3306:3306"

# Define a network, which allows containers to communicate
# with each other, by using their container name as a hostname
networks:
  app_network:
    driver: bridge